./.mypy_cache
./.pytest_cache

./*pyc
./app/*pyc
./app/client/*pyc
./app/exceptions/*pyc
./app/routes/*pyc
./app/schemas/*pyc
./app/services/*pyc
./tests/*pyc
./tests/integration/*pyc
./tests/unit_tests/*pyc

./Pipfile.lock

